/*-----Button kode--------*/
.button {
  display: inline-block;
  list-style-type: none;
  border-radius: 1rem;
  background-color: #4a6dad;
  border: 1rem;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
  width: 13rem;
  height: 4.5rem;
  cursor: pointer;
  transition: all 0.5s;
  margin: 0.55rem;
  overflow: hidden;
}
  
/*-Button animasjon + visuell respons-*/
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
  
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -1.2rem;
  transition: 0.5s;
}
    
.button:hover span {
  padding-right: 1.5rem;
}
    
.button:hover span:after {
  opacity: 1;
  right: 0;
}

/*-Div til buttons som sørger for at de er sentrert-*/
.buttons {
  text-align: center;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  max-width: 71rem;
}

/*-I telefonmodus justeres automatisk-*/
@media screen and (max-width: 600px) {
  .buttons {
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
  }
}
