html, body {
    margin: 0; 
    height: 100%; 
    overflow-x: hidden;
}


#Markdowns {
    display: flex;
    flex-direction: column;
}

#markdowns div *{
    text-align: center;
    color: whitesmoke;
}

#list {
    position: fixed;
    display: flex;
    flex-direction: column;

    right: 0;
    top: 8.5rem;
    padding: 2rem;
    margin: 1rem;
    gap: 0.5rem;
    z-index: 1;
    border-radius: 1rem;
    overflow: hidden;

    background-color: #2d333b;
}

.fagkon {
    top: 20rem;
}

#list a {
    color: whitesmoke;
    text-align: center;
    
    border-bottom: 2px dashed white;
    text-decoration: none;
}

#list p {
    color: whitesmoke;
    text-align: center;
    border-bottom: 2px solid white;
    width: 100%;
    font-size: 1.25rem;
}

@media screen and (max-width: 600px) {
    #list {
        flex-direction: column;
        top: 22rem;
        right: 0rem;
        padding: 1rem;
        margin: 1rem;
    }
    .fagkon {
        top: 23rem;
    }
}