/*-----Navbar design----*/
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2d333b;
  font-size: 1.2rem;
}

/*---Hoved faner---*/
ul.topnav li {
  float: left;
}

/*----Navbar bokser design----*/
ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
}

/*---Svart fade for å gi den litt stil---*/
ul.topnav li a:hover:not(.active) {
  background-color: #111;
}

/*------Current used html visual-----*/
ul.topnav li a.active{
  background-color: #4a6dad;
}

/*------Dropdown menu-----*/
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown:hover:not(.active) {
  background-color: #111;
}


/*----Dropdown button design-----*/
.dropdown .dropbtn {
  cursor: pointer;
  font-size: 1.2rem;  
  border: none;
  outline: none;
  color: white;
  padding: 1rem 1rem;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/*----Dropdown innhold boks-----*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2d333b;
  min-width: 10rem;
  box-shadow: 0rem 0.5rem 1rem 0rem rgba(0,0,0,0.2);
  z-index: 100;
}

/*----Dropdown link design-----*/
.dropdown-content a {
  float: none;
  color: black;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: flex;
  text-align: left;
}
#myDropdown {
  flex-direction: column;
}

/*--Dropdown innhold rekkefølge på side--*/
.show {
  display: flex;
}

/*------Github-----*/
ul.topnav li.right {
  float: right;
}

/*------Dropdown men, gjort om til 2 forskjellige som bytter når det er 600px--*/
.cent {
  display: flex;
  align-content: center;
  justify-content: center;
}

.r1 {
  display: flex;
}

.r2 {
  display: none;
}

/*---------------Telefon modus------------*/
@media screen and (max-width: 650px) {
  ul.topnav li.right,
  .dropdown .dropbtn, 
  ul.topnav li {float: none;}

  .r1 {
    display: none;
  }

  .r2 {
    display: block;
  }

  #myDropdown2 {
    flex-direction: column;
  }
}