body {
  height:100vh;
  margin: 0;
  background-color: #444c56;
  display:flex; 
  flex-direction:column;
  font-family: Arial, Helvetica, sans-serif;
}

header{ 
  min-height: 3.125rem;
}

/*--Footer med info--*/
footer{
  margin-top:auto;
  background: #2d333b;
  color: white;
  font-size: 1rem;
  padding: 1rem 1rem;
  text-align: center;
}

/*--Fjerner blå farge fra link i footer--*/
a[href^="tel"]{
  color:inherit;
  text-decoration:none;
}

a[href^="mail"]{
  color:inherit;
  text-decoration:none;
}
/*-----Hoved tekst----*/
.section {
  color: whitesmoke;
  margin: auto;
  max-width:70rem;
}
.imsection {
  color: whitesmoke;
  margin: auto;
  max-width:70rem;

}
/*------Amalie Skram VGS bilde kode-----*/
.aside{
  width: 100%;
  display: flex;
  justify-content: center;
}

/*------Bilde properties + glow-----*/
.aside img {
  border-radius: 2%;
  width: 70rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*------IM INFO LISTE-----*/
.liste{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.imBilde{
  width: 40rem;
  max-width:100%
}

/*-Gjør slik at bilde og tekst automatisk justerer seg for telefon-*/
@media screen and (max-width: 37.5rem) {
  .aside img {
    object-fit: contain;
    width: 100%;
  }
  .section {
  color: whitesmoke;
  margin: auto;
  max-width:70rem;
  }
  .imBilde {
    display: flex;
    margin-bottom: 1rem;
  }
  .mid {
    text-align: center;
  }
}